<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form">
    <form th:action="@{/products/save}" th:object="${product}" method="post" novalidate="novalidate">
        <div>
            <label>NAME</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>PRICE</label>
            <input type="text" th:field="*{price}">
        </div>
        <div>
            <label>DESCRIPTION</label>
            <input type="text" th:field="*{description}">
        </div>
        <div>
            <label>PRODUCER</label>
            <input type="text" th:field="*{producer}">
        </div>
        <input type="submit" value="SUBMIT">
    </form>
</div>
</body>
</html>